<!-- DATAVIEW -->
<p-dataView [value]="trailerArray" [paginator]=true [rows]="5" [lazy]=true (onLazyLoad)="lazyData($event)" [totalRecords]="totalRecords">
    <!-- DATAVIEW HEADER -->
    <p-header>
        <div class="d-flex">
            <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" placeholder="Sort By" (onChange)="onSortChange($event)"></p-dropdown>
            <span class="p-badge p-badge-l p-badge-info mx-auto align-self-center"> Ukupno: {{ totalRecords }} </span>
            <button pButton type="button" class="p-button-rounded p-button-info btn-circle align-self-center" icon="pi pi-plus" (click)="displayCreate()"></button>
        </div>
    </p-header>
    <!-- DATAVIEW LIST -->
    <ng-template pTemplate="list">
      <div *ngFor="let trailer of trailerArray; index as rowIndexValue">
        <div class="w-100">
            <div class="d-flex flex-wrap p-3">
                <div class="order-1 order-md-1 item-width">
                    <div class="trailer-img">
                        <img src="trailer.slika" *ngIf="trailer.slika != null" width="96px" height="96px" />
                        <img src="../../../../assets/images/Trailer.svg" width="96px" height="96px" *ngIf="trailer.slika == null" />
                    </div>
                </div>
                <div class="order-3 order-md-2 item-width mt-3 mt-md-0">
                    <h6>Osnovno</h6>
                    <h5>{{ trailer.model }}</h5>
                    <div><i class="pi pi-tags"></i> {{ trailer.tip }}</div>
                </div>
                <div class="order-4 order-md-3 item-width mt-3 mt-md-0 d-flex flex-column align-items-end d-md-block">
                    <h6>Karakteristike</h6>
                    <div>{{ trailer.godinaProizvodnje }} god.</div>
                    <div>{{ trailer.nosivost }}t</div>
                    <div
                        [ngClass]="{
                            'text-success': trailer.km > 0,
                            'text-info': trailer.km > 50000,
                            'text-warning': trailer.km > 100000,
                            'text-danger': trailer.km > 150000
                        }"
                    >
                        {{ trailer.km }}km
                    </div>
                </div>
                <div class="order-2 order-md-4 item-width my-auto d-flex flex-column align-items-end">
                    <button pButton type="button" class="p-button-rounded p-button-warning btn-circle mb-1" icon="pi pi-pencil" (click)="displayEdit(rowIndexValue)"></button>
                    <button pButton type="button" class="p-button-rounded p-button-danger btn-circle mt-1" icon="pi pi-trash" (click)="displayRemove(rowIndexValue)"></button>
                </div>
            </div>
        </div>
      </div>
    </ng-template>
</p-dataView>

<!-- CREATE DIALOG -->
<p-dialog [(visible)]="displayCreateDialog" [modal]=true class="dialog-width">
    <p-header> Dodavanje </p-header>
    <!-- CONTENT FORM -->
    <div class="p-fluid">
        <div class="field">
            <label> <strong> Model </strong> </label> <br />
            <input type="text" pInputText style="width: 100%" [(ngModel)]="dialogFieldModel" [required] />
        </div>
        <div class="field">
            <label> <strong> Tip </strong> </label> <br />
            <p-dropdown [options]="trailerCategories" [(ngModel)]="dialogFieldTip" placeholder="Tip Prikolice" [required]></p-dropdown>
        </div>
        <div class="field">
            <label> <strong> Godiste </strong> </label> <br />
            <p-inputNumber
                class="btn-inputNum"
                [min]="2000"
                [showButtons]=true
                buttonLayout="stacked"
                decrementButtonClass="p-button-info"
                decrementButtonIcon="pi pi-angle-down"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-angle-up"
                [(ngModel)]="dialogFieldGodiste"
                [required]
            ></p-inputNumber>
        </div>
        <div class="field">
            <label> <strong> Nosivost </strong> </label> <br />
            <p-inputNumber
                class="btn-inputNum"
                [min]="0"
                [max]="100"
                [showButtons]=true
                buttonLayout="stacked"
                decrementButtonClass="p-button-info"
                decrementButtonIcon="pi pi-angle-down"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-angle-up"
                [(ngModel)]="dialogFieldNosivost"
                [required]
            ></p-inputNumber>
        </div>
        <div class="field">
            <label> <strong> Km </strong> </label> <br />
            <p-inputNumber
                [min]="0"
                [showButtons]=true
                buttonLayout="stacked"
                decrementButtonClass="p-button-info"
                decrementButtonIcon="pi pi-angle-down"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-angle-up"
                [(ngModel)]="dialogFieldKm"
                [required]
            ></p-inputNumber>
        </div>
        <div class="field">
            <label> <strong> Slika </strong> </label> <br />
            <input id="cf4" type="url" pInputText style="width: 100%" [(ngModel)]="dialogFieldSlika" />
        </div>
    </div>
    <!-- FOOTER BUTTONS -->
    <p-footer>
        <div class="d-flex">
            <div class="ml-auto">
                <button pButton type="button" class="p-button-outlined p-button-info" icon="pi pi-check" label="Unesi" (click)="createTrailer()"></button>
                <button pButton type="button" class="p-button-text p-button-secondary" icon="pi pi-times" label="Otkaz" (click)="hideCreate()"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<!-- EDIT DIALOG -->
<p-dialog [(visible)]="displayEditDialog" [modal]=true class="dialog-width">
    <p-header> Izmena </p-header>
    <!-- CONTENT FORM -->
    <div class="p-fluid">
        <div class="field">
            <label> <strong> Model </strong> </label> <br />
            <input type="text" pInputText style="width: 100%" [(ngModel)]="dialogFieldModel" />
        </div>
        <div class="field">
            <label> <strong> Tip </strong> </label> <br />
            <p-dropdown [options]="trailerCategories" [(ngModel)]="dialogFieldTip"></p-dropdown>
        </div>
        <div class="field">
            <label> <strong> Godiste </strong> </label> <br />
            <p-inputNumber
                class="btn-inputNum"
                [min]="2000"
                [showButtons]=true
                buttonLayout="stacked"
                decrementButtonClass="p-button-info"
                decrementButtonIcon="pi pi-angle-down"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-angle-up"
                [(ngModel)]="dialogFieldGodiste"
                [required]
            ></p-inputNumber>
        </div>
        <div class="field">
            <label> <strong> Nosivost </strong> </label> <br />
            <p-inputNumber
                class="btn-inputNum"
                [min]="0"
                [max]="100"
                [showButtons]=true
                buttonLayout="stacked"
                decrementButtonClass="p-button-info"
                decrementButtonIcon="pi pi-angle-down"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-angle-up"
                [(ngModel)]="dialogFieldNosivost"
            ></p-inputNumber>
        </div>
        <div class="field">
            <label> <strong> Km </strong> </label> <br />
            <p-inputNumber
                [min]="0"
                [showButtons]=true
                buttonLayout="stacked"
                decrementButtonClass="p-button-info"
                decrementButtonIcon="pi pi-angle-down"
                incrementButtonClass="p-button-info"
                incrementButtonIcon="pi pi-angle-up"
                [(ngModel)]="dialogFieldKm"
            ></p-inputNumber>
        </div>
        <div class="field">
            <label> <strong> Slika </strong> </label> <br />
            <input id="cf4" type="text" pInputText style="width: 100%" [(ngModel)]="dialogFieldSlika" />
        </div>
    </div>
    <!-- FOOTER BUTTONS -->
    <p-footer>
        <div class="d-flex">
            <div class="ml-auto">
                <button pButton type="button" class="p-button-outlined p-button-info" icon="pi pi-check-circle" label="Izmeni" (click)="updateTrailer()"></button>
                <button pButton type="button" class="p-button-text p-button-secondary" icon="pi pi-times" label="Otkaz" (click)="hideEdit()"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<!-- REMOVE DIALOG -->
<p-dialog [(visible)]="displayRemoveDialog" [modal]=true class="dialog-width">
    <p-header> Brisanje </p-header>
    <strong> Da li sigurno želite da obrišete? </strong>
    <p-footer>
        <div class="d-flex">
            <div class="ml-auto">
                <button pButton type="button" class="p-button-outlined p-button-danger" icon="pi pi-exclamation-triangle" label="Da" (click)="deleteTrailer()"></button>
                <button pButton type="button" class="p-button-text p-button-secondary" icon="pi pi-times" label="Ne" (click)="hideRemove()"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<p-toast position="bottom-center"></p-toast>
