<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 py-4">
            <div class="d-flex flex-column border-1 border border-secondary rounded" style="background-color: #ebe9e9">
                <h4 class="border-1 border border-secondary rounded-top">Tovar</h4>
                <div *ngFor="let cargo of cargos; let i = index">
                    <div class="row align-items-center">
                        <div class="col-4 text-center">
                            <h6>Opis</h6>
                            <h5>{{ cargo.opis }}</h5>
                        </div>
                        <div class="col-4 text-center">
                            <h6>Tip</h6>
                            <div class="lead">
                                <i class="fa fa-exclamation-triangle text-black" *ngIf="cargo.tip == 'opasan'"></i>
                                <i class="fa fa-glass text-black" *ngIf="cargo.tip == 'lomljiv'"></i>
                                <i class="fa fa-star text-black" *ngIf="cargo.tip == 'vredan'"></i>
                                <i class="fa fa-cubes text-black" *ngIf="cargo.tip == 'težak'"></i>
                                <i class="fa fa-road text-black" *ngIf="cargo.tip == 'običan'"></i>
                                <strong
                                    [ngClass]="{
                                        'text-success': cargo.tip == 'običan',
                                        'text-info': cargo.tip == 'vredan',
                                        'text-warning': cargo.tip == 'lomljiv',
                                        'text-secondary': cargo.tip == 'težak',
                                        'text-danger': cargo.tip == 'opasan'
                                    }"
                                >
                                    {{ cargo.tip }}</strong
                                >
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h6>Težina</h6>
                            <div
                                class="lead"
                                [ngClass]="{
                                    'text-success': cargo.tezina > 0,
                                    'text-info': cargo.tezina > 5,
                                    'text-warning': cargo.tezina > 10,
                                    'text-secondary': cargo.tezina > 20,
                                    'text-danger': cargo.tezina > 30
                                }"
                            >
                                <strong>{{ cargo.tezina }}</strong>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 py-4">
            <div class="d-flex flex-column border-1 border border-secondary rounded" style="background-color: #ebe9e9">
                <h4 class="border-1 border border-secondary rounded-top">Isporuke</h4>
                <div *ngFor="let delivery of deliveries; let i = index">
                    <div class="row align-items-center">
                        <div class="col-4 lead text-center">
                            <div>
                                <i class="fa fa-flag-checkered text-black"></i>
                                <b
                                    [ngClass]="{
                                        'text-danger': delivery.statusDostave == 'otkazana',
                                        'text-info': delivery.statusDostave == 'u toku',
                                        'text-warning': delivery.statusDostave == 'zakasnela',
                                        'text-success': delivery.statusDostave == 'završena'
                                    }"
                                >
                                    {{ delivery.statusDostave }}</b
                                >
                            </div>
                            <div>
                                <i class="fa fa-money text-black"></i>
                                <b
                                    [ngClass]="{
                                        'text-danger': delivery.statusPlacanja == 'neplaćeno',
                                        'text-success': delivery.statusPlacanja == 'plaćeno'
                                    }"
                                >
                                    {{ delivery.statusPlacanja }}</b
                                >
                            </div>
                            <div>
                                <i class="fa fa-cogs text-black"></i>
                                <b> {{ delivery.tip }}</b>
                            </div>
                        </div>
                        <div class="col-4 text-center">
                            <h6>Mesto i Vreme</h6>
                            <i class="pi pi-directions"></i> {{ delivery.mestoDolaska }} -> {{ delivery.mestoPolaska }} <br />
                            <i class="pi pi-calendar"></i> {{ delivery.vremePolaska | date: 'short' }} <br />
                            <i class="pi pi-calendar-times"></i> {{ delivery.vremeDolaska | date: 'short' }}
                        </div>
                        <div class="col-4 text-center">
                            <h3>{{ delivery.cena }} €</h3>
                            <div>{{ delivery.predjeno }} km / {{ delivery.km }} km</div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
