<div class="d-flex flex-wrap px-3 pb-4 pt-1">
    <p-card id="factoryInfo" class="col-12 col-md-4 mt-3">
        <header>
            <img src="../assets/images/industry.png" class="w-100 bg-dark" />
            <div class="avatar mx-auto border-1 border border-secondary rounded-circle bg-white" style="width: 7rem; height: 7rem">
                <img src="carrier.slika" style="width: 7rem; height: 7rem" *ngIf="carrier && carrier.slika" />
                <img src="../assets/images/Factory.svg" style="width: 7rem; height: 7rem" *ngIf="carrier && !carrier.slika" />
            </div>
        </header>
        <div class="d-flex flex-column p-2 lead" *ngIf="carrier">
            <div class="d-flex text-center">
                <div class="w-50">
                    <i class="fa fa-building"></i>
                    <b> {{ carrier.naziv }}</b>
                </div>
                <div class="w-50">
                    <i class="fa fa-globe"></i>
                    <b> {{ carrier.sediste }}</b>
                </div>
            </div>
            <div class="d-flex text-center">
                <div class="w-50">
                    <i class="fa fa-credit-card-alt"></i>
                    <b> {{ carrier.prihod }} €</b>
                </div>
                <div class="w-50">
                    <i class="fa fa-calendar-o"></i>
                    <b> {{ carrier.datumOsnivanja }}</b>
                </div>
            </div>
            <div class="text-center">
                <i class="fa fa-envelope"></i>
                <b> {{ carrier.email }}</b>
            </div>
            <div class="text-center">
                <i class="fa fa-phone"></i>
                <b> {{ carrier.telefon }}</b>
            </div>
        </div>
    </p-card>

    <p-card class="col-12 col-md-4 mt-3 text-center">
        <h6>Uspešnost dostava</h6>
        <p-chart type="doughnut" [data]="data3"></p-chart>
    </p-card>

    <p-card class="col-12 col-md-4 mt-3 text-center">
        <h6>Starost kamiona (god.)</h6>
        <p-chart type="doughnut" [data]="data4"></p-chart>
    </p-card>

    <p-card class="col-12 col-md-6 mt-3 text-center">
        <h6>Zarada (€)</h6>
        <p-chart type="line" [data]="data"></p-chart>
    </p-card>

    <p-card class="col-12 col-md-6 mt-3 text-center">
        <h6>Broj Ruta</h6>
        <p-chart type="line" [data]="data2"></p-chart>
    </p-card>
</div>
