<div class="container">
    <div class="row align-items-center" style="height: 80vh">
        <div class="col-12 col-md-8">
            <h1 class="display-1 text-white" style="font-size: calc(1.525rem + 3.3vw)">
                Prevoz robe i sirovina <br />
                na brz i efikasаn način
            </h1>
            <p class="lead text-white" style="font-size: calc(1.275rem + 0.3vw)">
                Unapređenje poslovanja boljom organizacijom i planiranjem <br />
                Pregled svih tokova preduzeca <br />
                Isporuke na brz i efikasan način, praćenje troškova i zarade, planiranje sirovina i voznog parka
            </p>
            <button pButton type="button" label="Prijava" [routerLink]="['/login']" class="p-button-primary p-button-outlined p-button-rounded btn-lg text-white"></button>
        </div>
        <div class="d-none d-md-inline col-md-4">
            <img src="../assets/images/LandingTruck.svg" class="w-100 h-100" />
        </div>
    </div>
</div>
