<div class="row justify-content-center">
    <div class="col-12 col-md-8 p-4">
        <div class="d-flex flex-column border-1 border border-secondary rounded" style="background-color: #ebe9e9">
            <h4 class="border-1 border border-secondary rounded-top"> Isporuke </h4>
            <span class="p-badge p-badge-l p-badge-info mx-auto align-self-center"> Ukupno: {{ deliveries.length }}</span>
            <div *ngFor="let delivery of deliveries; let i = index">
                <div class="row align-items-center">
                    <div class="col-4 lead text-center">
                        <div>
                            <i class="fa fa-flag-checkered text-black"></i>
                            <b
                                [ngClass]="{
                                    'text-danger': delivery.statusDostave == 'otkazana',
                                    'text-info': delivery.statusDostave == 'u toku',
                                    'text-warning': delivery.statusDostave == 'zakasnela',
                                    'text-success': delivery.statusDostave == 'završena'
                                }"
                            >
                                {{ delivery.statusDostave }}</b
                            >
                        </div>
                        <div>
                            <i class="fa fa-money text-black"></i>
                            <b
                                [ngClass]="{
                                    'text-danger': delivery.statusPlacanja == 'neplaćeno',
                                    'text-success': delivery.statusPlacanja == 'plaćeno'
                                }"
                            >
                                {{ delivery.statusPlacanja }}</b
                            >
                        </div>
                        <div>
                            <i class="fa fa-cogs text-black"></i>
                            <b> {{ delivery.tip }}</b>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <h6>Mesto i Vreme</h6>
                        <i class="pi pi-directions"></i> {{ delivery.mestoDolaska }} -> {{ delivery.mestoPolaska }} <br />
                        <i class="pi pi-calendar"></i> {{ delivery.vremePolaska | date: 'short' }} <br />
                        <i class="pi pi-calendar-times"></i> {{ delivery.vremeDolaska | date: 'short' }}
                    </div>
                    <div class="col-4 text-center">
                        <h3>{{ delivery.cena }} €</h3>
                        <div>{{ delivery.predjeno }} km / {{ delivery.km }} km</div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
