<!-- DATAVIEW -->
<p-dataView class="" [value]="trucks" [paginator]=true [rows]="5" [lazy]=true (onLazyLoad)="lazyData($event)" [totalRecords]="totalRecords">
    <p-header>
        <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" placeholder="Sort By" (onChange)="onSortChange($event)"></p-dropdown>
    </p-header>
    <ng-template pTemplate="list">
      <div *ngFor="let truck of trucks; index as rowIndexValue">
        <div class="w-100">
            <div class="d-flex flex-wrap p-3">
                <div class="order-1 order-md-1 item-width">
                    <div class="truck-img">
                        <img src="truck.slika" *ngIf="truck.slika" width="96px" height="96px" />
                        <img src="../../../../assets/images/Truck.svg" width="96px" height="96px" *ngIf="!truck.slika" />
                    </div>
                </div>
                <div class="order-3 order-md-2 item-width my-auto">
                    <h6>Osnovno</h6>
                    <h5>{{ truck.model }}</h5>
                    <div><i class="pi pi-tags"></i> {{ truck.tip }}</div>
                </div>
                <div class="order-4 order-md-3 item-width mt-3 mt-md-0 d-flex flex-column align-items-end d-md-block">
                    <h6>Karakteristike</h6>
                    <div>{{ truck.godinaProizvodnje }} god.</div>
                    <div>{{ truck.nosivost }}t</div>
                    <div
                        [ngClass]="{
                            'text-success': truck.km > 0,
                            'text-info': truck.km > 50000,
                            'text-warning': truck.km > 100000,
                            'text-danger': truck.km > 150000
                        }"
                    >
                        {{ truck.km }}km
                    </div>
                </div>
                <div class="order-2 order-md-4 item-width my-auto d-flex flex-column align-items-end text-center">
                    <div class="mr-3"><b>Prevoznik</b></div>
                    <button pButton type="button" label="{{ truck.prevoznik!.naziv }}" (click)="showDialog(rowIndexValue); op.toggle($event)" class="p-button-link"></button>
                </div>
            </div>
        </div>
      </div>
    </ng-template>
</p-dataView>

<!-- OVERPANEL -->
<p-overlayPanel #op [showCloseIcon]=true>
    <ng-template pTemplate>
        <div>
            <b> Naziv: </b> {{ trucks[selectedRow].prevoznik!.naziv }} <br />
            <b> Sediste: </b> {{ trucks[selectedRow].prevoznik!.sediste }} <br />
            <b> E-mail: </b> {{ trucks[selectedRow].prevoznik!.email }} <br />
            <b> Telefon: </b> {{ trucks[selectedRow].prevoznik!.telefon }} <br />
            <b> Reputacija isporuka:</b>
            <span class="text-success">
                {{ trucks[selectedRow].prevoznik!.uspesneIsporuke }}
            </span>
            /
            <span class="text-danger">
                {{ trucks[selectedRow].prevoznik!.neuspesneIsporuke }}
            </span>
            (
            <span class="text-info">
              {{
                (trucks[selectedRow].prevoznik!.uspesneIsporuke / (trucks[selectedRow].prevoznik!.uspesneIsporuke + trucks[selectedRow].prevoznik!.neuspesneIsporuke)) * 100 | number : '1.0-2'
              }}%
            </span>
            )
            <br />
            <div class="mt-2">
                <p-rating [ngModel]="carrierStars" [readonly]=true [cancel]=false></p-rating>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>
