::ng-deep .p-dataview {
    padding: 3% 0%;
}
@media (min-width: 576px) {
    ::ng-deep .p-dataview {
        padding: 2% 5%;
    }
}
.item-width {
    width: 50%;
}
@media (min-width: 576px) {
    .item-width {
        width: 25%;
    }
}
::ng-deep body .pi {
    font-size: 1em;
}
::ng-deep body .p-button {
}
