<!-- DATAVIEW -->
<p-dataView [value]="driverJobsArray" [paginator]=true [rows]="5" [lazy]=true (onLazyLoad)="lazyData($event)" [totalRecords]="totalRecords">
    <p-header>
        <div class="d-flex">
            <p-dropdown [options]="sortOptions" [(ngModel)]="selectedSort" placeholder="Sort By" (onChange)="onSortChange($event)"></p-dropdown>
            <span class="p-badge p-badge-l p-badge-info mx-auto align-self-center"> Ukupno: {{ totalRecords }} </span>
            <p-dropdown [options]="driverOptions" [(ngModel)]="selectedDriverId" placeholder="Izbor Vozača" (onChange)="onDriverChange($event)"></p-dropdown>
        </div>
    </p-header>
    <ng-template pTemplate="list">
      <div *ngFor="let job of driverJobsArray; index as rowIndexValue">
        <div class="w-100">
            <div class="d-flex flex-wrap p-3">
                <div class="item-width">
                    <h6>Osnovno</h6>
                    <span
                        class="p-tag"
                        [style]="{ opacity: '0.87' }"
                        [ngClass]="{
                            'p-tag-success': job.statusDostave == 'zavrsena',
                            'p-tag-info': job.statusDostave == 'u toku',
                            'p-tag-warning': job.statusDostave == 'zakasnela',
                            'p-tag-danger': job.statusDostave == 'otkazana'
                        }"
                    >
                        {{ job.statusDostave }}
                    </span>
                    <br />
                    <span
                        class="p-tag mt-1"
                        [style]="{ opacity: '0.87' }"
                        [ngClass]="{
                            'p-tag-success': job.statusPlacanja == 'plaćeno',
                            'p-tag-warning': job.statusPlacanja == 'neplaćeno'
                        }"
                    >
                        {{ job.statusPlacanja }}
                    </span>
                    <br />
                    <span class="mt-md-1">
                        <i
                            class="pi"
                            [ngClass]="{
                                'pi-circle-off': job.tip == 'obična',
                                'pi-exclamation-circle': job.tip == 'važna',
                                'pi-clock': job.tip == 'hitna'
                            }"
                        ></i>
                        <b> {{ job.tip }}</b>
                    </span>
                </div>
                <div class="item-width d-flex flex-column align-items-end d-md-block">
                    <h6>Teret</h6>
                    <div>{{ job.teret.tezina }}t</div>
                    <div>{{ job.teret.tip }}</div>
                    <div>{{ job.teret.opis }}</div>
                </div>

                <div class="item-width mt-3 mt-md-0">
                    <h6>Mesto i Vreme</h6>
                    <i class="pi pi-directions"></i> {{ job.mestoDolaska }} -> {{ job.mestoPolaska }} <br />
                    <i class="pi pi-calendar"></i> {{ job.vremePolaska | date: 'short' }} <br />
                    <i class="pi pi-calendar-times"></i> {{ job.vremeDolaska | date: 'short' }}
                </div>
                <div class="item-width d-flex flex-column align-items-end my-auto">
                    <h3>{{ job.cena }} €</h3>
                    <div>{{ job.predjeno }} km / {{ job.km }} km</div>
                </div>
            </div>
        </div>
      </div>
    </ng-template>
</p-dataView>
